<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->
      <!--input class="search-query" placeholder="Buscar" ng-model="query"-->
      Ordenar:
      <select  data-style="btn-primary" ng-model="orderProp" bs-select>
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>

    </div>
    <div class="span7">
      <!--Body content-->

      <ul class="dates">
        <li ng-repeat="date in dates | filter:query | orderBy:orderProp" class="thumbnail">
          <a href="#/profesionales/{{date.id}}" class="thumb img-circle" ng-style="{'background-image': 'url(' + date.imageUrl + ')'}"></a>
          <a href="#/profesionales/{{date.id}}"><strong>{{date.name}}</strong></a>
          <p>{{date.snippet}}</p>
          <a href="#/places/{{date.places[0].id}}"><i class="icon-map-marker"></i> {{date.places[0].name}}</a>
        </li>
      </ul>

    </div>
  </div>
</div>
